In [1]:
# Dennis O'Leary
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data = pd.DataFrame(purchase_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Using the value_counts function on the SN column shows that many users had multiple purchases 
# so we need to find the number of unique players
purchase_data['SN'].value_counts().head()

Lisosia93       5
Idastidru52     4
Iral74          4
Aelin32         3
Haillyrgue51    3
Name: SN, dtype: int64

In [3]:
# By adding the unique values of SN to a list and finding its length we see there are 576 unique players
purIDs = purchase_data['SN'].unique()
print("There are " + str(len(purIDs)) + " unique players.")

There are 576 unique players.

In [4]:
# Calculating Number of Unique Items, Average Price, Number of Purchases, Total Revenue and puting values into a dataframe
itemIDs = purchase_data['Item ID'].unique()
numItems = len(itemIDs)
totRev = purchase_data['Price'].sum()
avgRev = purchase_data['Price'].mean()
numPur = len(purchase_data['Price'])
totals = {'Number of Unique Items': [numItems],
         'Average Price': [avgRev],
         'Number of Purchases': [numPur],
         'Total Revenue': [totRev]}
totals = pd.DataFrame(totals)

# $0.00 format for monetary values
totals['Average Price'] = totals['Average Price'].map("${:.2f}".format)
totals['Total Revenue'] = totals['Total Revenue'].map("${:.2f}".format)

totals

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77