In [63]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data = pd.DataFrame(purchase_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [64]:
# Using the value_counts function on the SN column shows that many users had multiple purchases
purchase_data['SN'].value_counts()

Lisosia93        5
Idastidru52      4
Iral74           4
Zontibe81        3
Iskadarya95      3
Lisopela58       3
Siallylis44      3
Chamimla85       3
Hada39           3
Silaera56        3
Yathecal82       3
Umolrian85       3
Strithenu87      3
Chadolyla44      3
Tyisur83         3
Saistyphos30     3
Chanastnya43     3
Inguron55        3
Lassilsala30     3
Sondastsda82     3
Lisim78          3
Pheodaisun84     3
Raesty92         3
Iri67            3
Saedaiphos46     3
Ialallo29        3
Ilarin91         3
Asur53           3
Aina42           3
Tyidaim51        3
                ..
Firan91          1
Indirrian56      1
Alaesu77         1
Lisadar44        1
Lassjaskan73     1
Lassirrasda85    1
Undjask33        1
Sundadarla27     1
Chamast86        1
Sondimla25       1
Tyidainu31       1
Tyalaesu89       1
Lisotesta51      1
Assesi91         1
Sally64          1
Tyaedainu44      1
Lirtirra81       1
Mindimnya67      1
Undosia27        1
Indcil77         1
Mindilsa60       1
Idaisuir85       1
Yalaeria91       1
Eosrirgue62      1
Chadossa89       1
Chamalo71        1
Iskossasda43     1
Chanosiaya39     1
Chanjask65       1
Ilista82         1
Name: SN, Length: 576, dtype: int64

In [65]:
# By adding the unique values of SN to a list and finding its length we see there are 576 unique players
purIDs = purchase_data['SN'].unique()
print("There are " + str(len(purIDs)) + " unique players.")
purchase_data.columns

There are 576 unique players.

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [66]:
# Calculating Number of Unique Items, Average Price, Number of Purchases, Total Revenue and puting values into a dataframe
itemIDs = purchase_data['Item ID'].unique()
numItems = len(itemIDs)
totRev = purchase_data['Price'].sum()
avgRev = purchase_data['Price'].mean()
numPur = len(purchase_data['Price'])
totals = {'Number of Unique Items': [numItems],
         'Average Price': [avgRev],
         'Number of Purchases': [numPur],
         'Total Revenue': [totRev]}
totals = pd.DataFrame(totals)

# $0.00 format for monetary values
totals['Average Price'] = totals['Average Price'].map("${:.2f}".format)
totals['Total Revenue'] = totals['Total Revenue'].map("${:.2f}".format)

# display dataframe
totals

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [78]:
gender = purchase_data.loc[:, ['Gender', 'SN']]
gender = gender.drop_duplicates('SN')
genderCount = gender.groupby('Gender')
genderCount = genderCount.count()
genderCount

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11